<h3><i class="fas fa-book-reader"></i> StaffBook</h3>
<div class="section">
  <p class="lead">Store and retrieve your staff details</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/view/staff" class="btn red darken-1"><i
      class="fas fa-book-open left"
    ></i>View Dashboard</a>
</div>